.portfolio-unknownroute {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-unknownroute-message {
  color: #0e1a3c;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 600px;
  margin: 0px;
  transition: font 0.3s linear, width 0.3s linear;
}
.portfolio-unknownroute-error {
  color: #0e1a3c;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 600px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
  transition: font 0.3s linear, width 0.3s linear;
}

@media screen and (max-width: 630px) {
  .portfolio-unknownroute-message {
    font-size: 20px;
    width: 500px;
    transition: font 0.3s linear, width 0.3s linear;
  }
  .portfolio-unknownroute-error {
    font-size: 30px;
    width: 500px;
    transition: font 0.3s linear, width 0.3s linear;
  }
}

@media screen and (max-width: 530px) {
  .portfolio-unknownroute-message {
    font-size: 15px;
    width: 400px;
    transition: font 0.3s linear, width 0.3s linear;
  }
  .portfolio-unknownroute-error {
    font-size: 25px;
    width: 400px;
    transition: font 0.3s linear, width 0.3s linear;
  }
}

@media screen and (max-width: 430px) {
  .portfolio-unknownroute-message {
    font-size: 15px;
    width: 300px;
    transition: font 0.3s linear, width 0.3s linear;
  }
  .portfolio-unknownroute-error {
    font-size: 20px;
    width: 300px;
    transition: font 0.3s linear, width 0.3s linear;
  }
}
