# Node modules
node_modules/
studio/node_modules/

# Build output
.next/
out/
dist/
export/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing & coverage
coverage/

# Lint cache
.eslintcache