.portfolio-blogpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.portfolio-blogpage-image-wrapper {
  max-width: 850px;
  max-height: 450px;
  margin: 30px 0px;
  transition: height 0.3s linear, width 0.3s linear;
}
.portfolio-blogpage-image {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
.portfolio-blogpage-title {
  color: #0e1a3c;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  transition: font 0.3s linear;
}
.portfolio-blogpage-description {
  color: #0e1a3c;
  text-align: left;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 30px 50px 50px 50px;
  transition: margin 0.3s linear;
}
.portfolio-blogpage-created {
  color: #0e1a3c;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
.portfolio-blogpage-header-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
  transition: margin 0.3s linear;
}
.portfolio-blogpage-exit {
  padding-right: 50px;
  background-color: transparent;
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0e1a3c;
  border: none;
  transition: padding 0.3s linear;
}

.portfolio-blogpage-exit:hover {
  cursor: pointer;
  color: #eb21d4;
}
.portfolio-blogpage-exit:focus {
  outline: none;
  color: #eb21d4;
}

@media screen and (max-width: 930px) {
  .portfolio-blogpage-header-wrapper {
    margin-top: 200px;
    transition: margin 0.3s linear;
  }
  .portfolio-blogpage-description {
    margin: 30px 50px 130px 50px;
    transition: margin 0.3s linear, font 0.3s linear;
  }
}

@media screen and (max-width: 570px) {
  .portfolio-blogpage-header-wrapper {
    margin-top: 170px;
    transition: margin 0.3s linear;
  }
  .portfolio-blogpage-description {
    font-size: 15px;
    margin: 30px 50px 130px 50px;
    transition: margin 0.3s linear, font 0.3s linear;
  }
  .portfolio-blogpage-title {
    font-size: 25px;
    transition: font 0.3s linear;
  }
}

@media screen and (max-width: 550px) {
  .portfolio-blogpage-image-wrapper {
    max-width: 450px;
    max-height: 250px;
    transition: height 0.3s linear, width 0.3s linear;
  }
}

@media screen and (max-width: 400px) {
  .portfolio-blogpage-exit {
    padding-right: 30px;
    transition: padding 0.3s linear;
  }
}

@media screen and (max-width: 430px) {
  .portfolio-blogpage-title {
    font-size: 20px;
    transition: font 0.3s linear;
  }
  .portfolio-blogpage-image-wrapper {
    max-width: 350px;
    max-height: 200px;
    transition: height 0.3s linear, width 0.3s linear;
  }
}
