.portfolio-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.portfolio-wrapper-mainpage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 452px;
  transition: margin 0.3s linear;
}
.portfolio-wrapper-bottomnavigation-container {
  display: none;
}
.portfolio-wrapper-topnavigation-container {
  display: none;
}

@media screen and (max-width: 1300px) {
  .portfolio-wrapper-mainpage {
    margin-left: 352px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 1100px) {
  .portfolio-wrapper-mainpage {
    margin-left: 302px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 930px) {
  .portfolio-wrapper-sidebar-container {
    display: none;
  }
  .portfolio-wrapper {
    flex-direction: column;
    min-height: 0px;
  }
  .portfolio-wrapper-bottomnavigation-container {
    display: initial;
  }
  .portfolio-wrapper-topnavigation-container {
    display: initial;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
  }
  .portfolio-wrapper-mainpage {
    margin-left: 0px;
    transition: margin 0.3s linear;
    min-height: 0px;
  }
}
