.portfolio-projectpage-header {
  margin: 0px 50px 0px 60px;
}
.portfolio-projectpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 40px 0px;
  transition: margin 0.3s linear;
}
.portfolio-projectpage-header-createdclosegroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-projectpage-header-created {
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #0e1a3c;
}
.portfolio-projectpage-header-exit {
  background-color: transparent;
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0e1a3c;
  border: none;
}
.portfolio-projectpage-header-exit:hover {
  cursor: pointer;
  color: #eb21d4;
}
.portfolio-projectpage-header-exit:focus {
  /* outline: none; */
  color: #eb21d4;
}
.portfolio-projectpage-header-name {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0px;
  color: #0e1a3c;
}
.portfolio-projectpage-header-description {
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #0e1a3c;
}
.portfolio-projectpage-photo {
  margin: 50px 0px 50px 0px;
  max-width: 1000px;
  max-height: 1000px;
  border: solid 2px #0e1a3c;
  transition: width 0.3s linear, height 0.3s linear;
}
.portfolio-projectpage-header-createdlivecodegroup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 20px 60px 0px 0px;
}
.portfolio-projectpage-header-createdclosegroup-livecode {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0e1a3c;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  margin-right: 20px;
}
.portfolio-projectpage-header-createdclosegroup-livecode:hover {
  cursor: pointer;
  color: #eb21d4;
  font-weight: bold;
}
.portfolio-projectpage-header-createdclosegroup-livecode:focus {
  color: #eb21d4;
  /* outline: none; */
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .portfolio-projectpage-photo {
    max-width: 800px;
    max-height: 800px;
    transition: width 0.3s linear, height 0.3s linear;
  }
}

@media screen and (max-width: 1300px) {
  .portfolio-projectpage-photo {
    max-width: 700px;
    max-height: 700px;
    transition: width 0.3s linear, height 0.3s linear;
  }
}

@media screen and (max-width: 1100px) {
  .portfolio-projectpage-photo {
    max-width: 600px;
    max-height: 600px;
    transition: width 0.3s linear, height 0.3s linear;
  }
}

@media screen and (max-width: 930px) {
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 70px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 852px) {
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 110px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 771px) {
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 140px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 710px) {
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 170px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 670px) {
  .portfolio-projectpage-photo {
    max-width: 500px;
    max-height: 500px;
    transition: width 0.3s linear, height 0.3s linear;
  }
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 120px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 633px) {
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 150px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 605px) {
  .portfolio-projectpage-wrapper {
    margin: 200px 0px 180px 0px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 570px) {
  .portfolio-projectpage-photo {
    max-width: 400px;
    max-height: 400px;
    transition: width 0.3s linear, height 0.3s linear;
  }
}

@media screen and (max-width: 470px) {
  .portfolio-projectpage-photo {
    max-width: 300px;
    max-height: 300px;
    transition: width 0.3s linear, height 0.3s linear;
  }
}

@media screen and (max-width: 370px) {
  .portfolio-projectpage-photo {
    max-width: 200px;
    max-height: 200px;
    transition: width 0.3s linear, height 0.3s linear;
  }
}
