.portfolio-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  transition: margin 0.3s linear;
}
h1 {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0e1a3c;
  margin: 0px 40px;
  transition: font 0.3s linear, margin 0.3s linear;
}

@media screen and (max-width: 930px) {
  .portfolio-loading {
    margin-top: 200px;
    transition: margin 0.3s linear;
  }
}

@media screen and (max-width: 570px) {
  h1 {
    font-size: 30px;
    margin: 0px 40px;
    transition: font 0.3s linear, margin 0.3s linear;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 25px;
    margin: 0px 40px;
    transition: font 0.3s linear, margin 0.3s linear;
  }
}
