.portfolio-IconButton {
  width: 80px;
  height: 80px;
  border-radius: 13px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.portfolio-IconButton svg {
  border-radius: 10px;
}
.portfolio-IconButton:focus {
  width: 82px;
  height: 82px;
  /* outline: none; */
  border: 2px solid #eb21d4;
  box-shadow: 0px 0px 5px #eb21d4;
}
