.portfolio-projectpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.portfolio-projectpage-wrapper {
  margin: 40px 0px;
}
.portfolio-projectpage-header-createdclosegroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-projectpage-header-created {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #0e1a3c;
}
.portfolio-projectpage-header-exit {
  background-color: transparent;
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0e1a3c;
  border: none;
}
.portfolio-projectpage-header-exit:hover {
  cursor: pointer;
  color: #eb21d4;
}
.portfolio-projectpage-header-exit:focus {
  outline: none;
  color: #eb21d4;
}
.portfolio-projectpage-header-name {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0px;
  color: #0e1a3c;
}
.portfolio-projectpage-header-description {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #0e1a3c;
}
.portfolio-projectpage-photo {
  margin: 50px 0px 50px 0px;
  max-width: 1000px;
  max-height: 1000px;
}
.portfolio-projectpage-header-createdlivecodegroup {
  display: flex;
  justify-content: flex-end;
}
.portfolio-projectpage-header-createdclosegroup-livecode {
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0e1a3c;
  border: none;
  background-color: transparent;
  text-decoration: none;
  margin-right: 20px;
}
.portfolio-projectpage-header-createdclosegroup-livecode:hover {
  cursor: pointer;
  color: #eb21d4;
  font-weight: bold;
}
.portfolio-projectpage-header-createdclosegroup-livecode:focus {
  color: #eb21d4;
  outline: none;
  font-weight: bold;
}
